<style>
  #dynamic-color { 
    background-color: {{ dynamic_color }}; 
    padding: 20px;
  }
</style>

<div>
  <span id="dynamic-color">Custom Text With The Background Color Picked By The User.</span>
</div>
